/**
 * 默认-微信主题
 */
 $--color-menu:#25282B;
 $--color-main: #F5F5F5;
 $--color-list:#E6E5E5;
 $--color-list-active: #C6C5C5;
 $--color-primary:#07C160;
 $--color-font:#3F4042;
 $--color-text-min:#A3A4A6;
 $--color-login:#F5F5F5;
 $--color-menu-bg:#2e2e2e;
 
 @import './lib.scss';
 @import './variables.scss';